<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SiteForge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/efffcb3dcc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fa-solid fa-gear"></i>SiteForge</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('launch') }}" class="navbar__links" id="order-page">Order</a>
                </li>
                <li class="navbar__item">
                    <a href="/about-us.html" class="navbar__links" id="about-us">About</a>
                </li>
                <li class="navbar__btn">
                    <a href="{{ url_for('signup') }}" class="button" id="signup">Sign Up</a>
            </ul>
        </div>
    </nav>

    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>Your Own Website</h1>
                <h2>In Just Minutes</h2>
                <p>get started with us today and get your personal website directly delivered</p>
                <button class="main__btn"><a href="/order.html">Get Started</a></button>
            </div>
            <div class="main__img--container">
                <img src="images/pic1.svg" alt="pic" id="main__img">
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>